<p style="color: green"><%= notice %></p>

<%= render @compliance_report %>

<div>
  <%= link_to "Edit this compliance report", edit_compliance_report_path(@compliance_report) %> |
  <%= link_to "Back to compliance reports", compliance_reports_path %>

  <%= button_to "Destroy this compliance report", @compliance_report, method: :delete %>
</div>
