<p style="color: green"><%= notice %></p>

<%= render @plan %>

<div>
  <%= link_to "Edit this compliance report", edit_plan_path(@plan) %> |
  <%= link_to "Back to compliance reports", plans_path %>

  <%= button_to "Destroy this compliance report", @plan, method: :delete %>
</div>
